/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
    font-family: 'Comic Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* UTILITIES */
.template {
    display: none;
}

/* HEADER STYLE */
h1 {
    font-size: 50px;
}

/* MAIN STYLE */

/* todo list */
.todo {
    margin: 30px 0;
}
.todo li {
    width: 450px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 5px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.todo li i {
    opacity: 0.5;
    transition: opacity .4s;
    font-size: 16px;
    cursor: pointer;
}
.todo li i:hover {
    opacity: 1;
}

.todo li .completed {
    text-decoration: line-through; /* jQuery*/
    color: #fff;
}
/* input add task */
.add-element {
    width: 450px;
    height: 45px;
    margin: 15px 10px 30px;
    padding: 0 10px;
    font-size: 17px;
    border: 0;
    background:  rgba(255,255,255, .7);
    box-shadow: 0 15px 10px -10px rgba(255,255,255, .3);
    outline: none;
    border-radius: 5px;
    transition: background .4s;
}
.add-element::placeholder {
    color: #000;
}
.add-element:hover,
.add-element:focus {
    background:#fff;
}